{% extends 'Dex/base.html' %}

{% block contenido %}
<!--CREAR UNA CUENTA-->
      <div class="contenido">
        <form action="{% url 'formulario_registro_usuario' %}" method="POST">
          {% csrf_token %}
          <label for="nombre">Nombre de usuario</label>
          <br>
          <input type="text" name="nombre" placeholder="Pepito" required>
          <br>
          <label for="email">Correo electronico</label>
          <br>
          <input type="email" name="email" placeholder="pepito@pepito.com" required>
          <br>
          <label for="password">Contraseña</label>
          <br>
          <input type="password" name="password" placeholder="1234567890" required>
          <br>
          <label for="password2">Repita la contraseña</label>
          <br>
          <input type="password" name="password2" placeholder="1234567890" required>
          <br>
          <label for="code">Codigo De seguridad</label>
          <br>
          <input type="text" name="code" placeholder="Para recuperar cuenta" required>
          <br>
          <label for="bio">Biografia</label>
          <br>
          <textarea name="bio" id="" cols="30" rows="5" placeholder="Soy muy wapo"></textarea>
          <br>
          <input type="submit" value="Crear">
        </form>
      </div>
{% endblock  %}
